@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.primary-color-bg{
    background-color: #116E63;
}
.balsamiq-regular{
    font-family: "Balsamiq Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.about-sec-image{
    width: 35rem;
}
.logo-size{
    width: 90px;
    height: 90px;
}
.button-color{
    color: #da842d;
}
.button-bg-hover:hover{
color: #da842d !important;
border: 1px solid #da842d;
border-radius: 5px;
}
.sec-bg-color{
    background-color: #FDA31B;
}
.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
.ps-7{
    padding-left:65px ;
}
.top-bar {
    background-color: #FFB100;
    color: white;
    padding: 5px 0;
    font-size: 14px;
  }
  .top-bar a {
    color: white;
    margin-right: 15px;
  }
  .navbar-brand img {
    height: 40px;
  }
  .btn-apply {
    background-color: #FFB100;
    color: white;
    border-radius: 20px;
    padding: 5px 15px;
  }
  .btn-apply:hover {
    color: white;
    background-color: #e09900;
  }

  .about-sec-bg-color-lightgreen{
    background-color: #eaf2f1;
  }
  .about-sec-mid-size{
    width: 207px;
    height: 241px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
  }
  .slide-container{
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
  }
  .slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
  }
  .card{
    border-radius: 25px;
    background-color: #FFF;
  }
  .image-content,
  .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
  }
  .image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
  }
  .overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #4070F4;
    border-radius: 25px 25px 0 25px;
  }
  .overlay::before,
  .overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #4070F4;
  }
  .overlay::after{
    border-radius: 0 25px 0 0;
    background-color: #FFF;
  }
  .card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
  }
  .card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #4070F4;
  }
  .name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
  }
  .description{
    font-size: 14px;
    color: #707070;
    text-align: center;
  }
  .button{
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: #4070F4;
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .button:hover{
    background: #265DF2;
  }
  
  .swiper-navBtn{
    color: #6E93f7;
    transition: color 0.3s ease;
  }
  .swiper-navBtn:hover{
    color: #4070F4;
  }
  .swiper-navBtn::before,
  .swiper-navBtn::after{
    font-size: 35px;
  }
  .swiper-button-next{
    right: 0;
  }
  .swiper-button-prev{
    left: 0;
  }
  .swiper-pagination-bullet{
    background-color: #6E93f7;
    opacity: 1;
  }
  .swiper-pagination-bullet-active{
    background-color: #4070F4;
  }
  
  @media screen and (max-width: 768px) {
    .slide-content{
      margin: 0 10px;
    }
    .swiper-navBtn{
      display: none;
    }
  }
.sl{
    
 
  background-color: #EFEFEF;
}  
.button-bg{
    background-color: #FDA31B;
}
#nav{
    z-index: 999;
}
.overflow-section{
  width: 80%;
  background-color: white;
  height: 80%;
}
.text-just{

  text-align: justify;
}
.foot{
  background-color:#012758;
}
.topheader{
  position: relative;
  background-image: url("../images/page-header-img.jpg");
  /* filter: brightness(20%); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.pill-shape{
  font-size: 12px;
}
.bg-gray{
  background-color: #f2f4f7;
}
#overview{
  display: block;
}
#keyfeature{
display: none;
}
#classiv{
  display: none;
}
#classix{
  display: none;
}
.pointer{
  cursor: pointer !important;
}
.hover-light-gray:hover{
  color: #e4e4e4;
}
.icon{
  color: #da842d ;
  transition: all 0.5s;
}
.contact-page-icon:hover .icon{
  background-color: #da842d;
  color: white !important;
}
.he{
  line-height: 23px;
}
/* icon button */


.wave-container {
  position: relative;
  display: inline-block;
 
}

.wave-button {
  /* padding: 15px ; */
  font-size: 18px;
  color: white;
  background: #007bff;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  outline: none;
  position: relative;
  z-index: 1;
}

.wave {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 123, 255, 0.877);
  border-radius: 999px;
  top: 0;
  left: 0;
  z-index: 0;
  animation: wave-effect 1.5s infinite ease-in-out;
  transform: scale(0);
  opacity: 0;
}

@keyframes wave-effect {
  0% {
      transform: scale(0.8);
      opacity: 0.6;
  }
  50% {
      transform: scale(1.55);
      opacity: 0.4;
  }
  100% {
      transform: scale(0.8);
      opacity: 0.6;
  }
}
.icon-section{
  position: fixed;
  z-index: 999;
  bottom: 10px;
  left: 20px;
}

.glowing-btn{
  animation: glowing 1500ms infinite;
  color: white;
}

@keyframes glowing {
  0% {
    background-color: #720206;
    box-shadow: 0 0 3px #720206;
}
50% {
    background-color: #da842d;
    box-shadow: 0 0 40px #da842d;
}
100% {
  background-color: #720206;
  box-shadow: 0 0 3px #720206;
}
}

.off{
  z-index: 9999999;

}
.enquiry-button{
  transform: rotate(270deg);
  position: fixed;
  right: -3%;
  z-index: 99;
   top: 50%;
  /* bottom: 50%;  */
}
.card-img{
  width: 70%;
}

.show-me{
  display: none;
}
.not-show-me{
  display: block;
}
/* responsive  */

@media only screen and (max-width: 1230px) {
.res-text-1230{
  font-size: 15px !important;
}
}

@media only screen and (max-width:881px) {
  #content{
    display: none;
  }
}

@media only screen and (max-width:738px){
  .none-d{
    display: none;
  }
}
@media only screen and (max-width:582px){
  .show-me{
    display: block;
  }
  .res-text-1230{
    font-size: 12px !important;
  }
  .logo-size{
    width: 90px;
    height: 90px;
}
.enquiry-button{
    right: -10%
}
.he {
  line-height: 14px;
}
.fs-md-5{
  font-size: 24px;
}
.res-text-583{
font-size: 12px !important;
}
.not-show-me{
  display: none;
}
.royal-heading{
  width: 80% !important;
}
.res-text-heading{
  font-size: 13px !important;
}
}
.hover-img:hover .image-get-hover{
  transition: all .5s;
  transform: rotate(5deg);
}
.course-transition{
 transition: all 1s;
}