<div class="foot">
    <div class="container">


        <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 mt-5 border-top">
            <div class="col-md-4">
                <h2 class="text-white balsamiq-regular ">Royal Defence Academy</h2>
                <p class="poppins-regular text-white ">Royal Defence Academy is dedicated to shaping disciplined,
                    knowledgeable, and future-ready leaders. We provide a balanced education that combines academic
                    excellence, character development, and physical fitness.</p>
            </div>
            <div class="col-md-2">

            </div>
            <div class="col-md-3 text-white balsamiq-regular">
                <h4>Quick Links</h4>
                <div class="poppins-regular">
                    Home
                </div>
                <div class="poppins-regular">
                    About
                </div>
                <div class="poppins-regular">
                    Gallery
                </div>
                <div class="poppins-regular">
                    Result
                </div>
                <div class="poppins-regular">
                    Contact
                </div>
            </div>
            <div class="col-md-3 text-white balsamiq-regular">
                <h4>Contact</h4>
                <p class="poppins-regular">+91-8769422006</p>
                <h4 class="mt-3">Address</h4>
                <p>Majar Bane Singh Colony, 4&10, C.B. Nagar, Khatipura, Jaipur, Rajasthan 302012</p>
            </div>
        </footer>
    </div>
    <div class="text-center text-white poppins-regular border-top p-3">
        Copyright © 2024 Sainik School Entrance Exam Coaching Royal Defence Academy | All Right Reserved
    </div>
</div>