<div id="content">
    <div class=".container-fluid">
        <div class="d-flex">
            <!-- col-row-4 -->
            <div class="col-md-4 sec-bg-color  d-flex justify-content-center py-2 text-white">
                <span class="px-2 fs-4">Follow us:</span>
                <div  class="primary-color-bg rounded-circle p-1 mx-1">
                 <i class="bi bi-facebook px-2 fs-4"></i>
                </div>
                <div class="primary-color-bg rounded-circle p-1 mx-1">
                    <i class="bi bi-instagram px-2 fs-4"></i>

                </div>
                <div class="primary-color-bg rounded-circle p-1 mx-1">

                    <i class="bi bi-youtube px-2 fs-4"></i>
                </div>

            </div>
            <!-- /col row-4 -->

            <!-- col-row-8 -->
            <div class="col-md-8 primary-color-bg poppins-regular ">

                    <div class="d-flex justify-content-center align-items-center py-3">
                            <div class="text-white poppins-regular border-end border-white px-3"><span><a class=" pointer hover-light-gray link-underline-opacity-0 link-underline text-white" href="https://www.google.com/maps/place/Royal+Defence+Academy/@26.933731,75.7477595,17z/data=!3m1!4b1!4m6!3m5!1s0x396db3495434044b:0xa9cdc52d9ba2afed!8m2!3d26.933731!4d75.7477595!16s%2Fg%2F11q3z8ccp3?entry=ttu&g_ep=EgoyMDI0MTIxMS4wIKXMDSoASAFQAw%3D%3D" target="_blank"><i class="button-color bi bi-geo-alt"></i></span> Majar Bane Singh Colony, 4&10, C.B. Nagar, Khatipura, Jaipur, Rajasthan 302012</a></div>
                            <div class="text-white poppins-regular  border-white px-3"><span><i class="button-color bi bi-telephone"></i></span> +91-87694 22006</div>
                            
                    </div>
            </div>
        </div>
    </div>
</div>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-white poppins-regular shadow-lg" >
    <div class="d-flex justify-centent w-100">
      <a class="d-flex link-underline link-underline-opacity-0 justify-centent-center align-items-center w-50" href="/">
        <img src="../images/logo-royal defence academy.webp" alt="Logo" class="logo-size" style="
        align-items: flex-start !important;
    ">
        <h1 class="fs-1 he poppins-regular py-3 text-dark " ><strong>ROYAL DEFENCE ACADEMY</strong> <br> <span class="balsamiq-regular fs-5">Best coaching institute for sainik school military school (RMS)<br> Rashtriya Indian Military collage RIMC preparation center</span> </h1 >
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex flex-column" id="navbarNav" style="justify-content: center ;">
        <ul class="navbar-nav ">
          <li class="nav-item dropdown">
            <a class="nav-link " href="/" role="button" aria-expanded="false">Home</a>
           
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">About</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/introduction.html">Introduction </a></li>
              <li><a class="dropdown-item" href="/achievements.html">Achievements</a></li>
              
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Courses</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/AISSEE-coaching.html">AISSEE Coaching</a></li>
              <li><a class="dropdown-item" href="/RMS-coaching.html">RMS Coaching</a></li>
              <li><a class="dropdown-item" href="/RIMC-coaching.html">RIMC Coaching</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Admission</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/admission-process.html">Admission Process</a></li>
              <li><a class="dropdown-item" href="/fee-structure.html">Fee Structure</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Gallery</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/photo-gallery.html">Photo Gallery</a></li>
              <li><a class="dropdown-item" href="/video-galleary.html">Video Gallery</a></li>
            </ul>
          </li>
          <li class="nav-item"><a class="nav-link" href="/contact.html">Contact</a></li>
        </ul>
        <div class="d-flex align-items-center ms-3">
          <a href="#" class="btn glowing-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">Apply Now</a>
        </div>
      </div>
    </div>
  </nav>






  <!-- model on Apply now -->
  <!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button> -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header sec-bg-color text-white balsamiq-regular">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Royal Defence Academy 

        </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="" class="form-label">Name</label>
          <input type="text" class="form-control" name="" id="" aria-describedby="emailHelpId" placeholder="">
          
        </div>
        <div class="mb-3">
          <label for="" class="form-label">Mobile</label>
          <input type="email" class="form-control" name="" id="" aria-describedby="emailHelpId" placeholder="">
          
        </div>
        <div class="alert alert-warning" role="alert">
          Please fill this form and our experts get back to you 
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn sec-bg-color text-white button-bg-hover">Send</button>
      </div>
    </div>
  </div>
</div>