<button class="btn enquiry-button poppins-medium glowing-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
    Enquiry Now
  </button>
  
  <div class="offcanvas offcanvas-end off" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header sec-bg-color">
      <h5 class="offcanvas-title text-white balsamiq-regular" id="staticBackdropLabel">Royal Defence Academy</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div>
        <form>
          <div class="mb-3">
            <label for="Name" class="form-label">Name</label>
            <input type="email" class="form-control" id="Name" aria-describedby="emailHelp">
            
          </div>
          <div class="mb-3">
            <label for="number" class="form-label">Mobile</label>
            <input type="password" class="form-control" id="number">
          </div>
          <div class="form-check border mt-3 py-2 d-flex  align-items-center">
            <input class="form-check-input m-1" type="checkbox" value="" id="sainikSchool">
            <label class="form-check-label " for="sainikSchool">
              Sainik School Entrance Exam Coaching
            </label>
          </div>
          <div class="form-check border mt-3 py-2 d-flex  align-items-center">
            <input class="form-check-input m-1" type="checkbox" value="" id="RMS">
            <label class="form-check-label " for="RMS">
              RMS Coaching | Rashtriya Military School Entrance Coaching | RMS online RMS Coaching Center
            </label>
          </div>
          <div class="form-check border mt-3 py-2 d-flex  align-items-center">
            <input class="form-check-input m-1" type="checkbox" value="" id="sainikEligibility">
            <label class="form-check-label " for="sainikEligibility">
              sainik school Sainik School Admission Eligibility, Process, and Key Details AISSEE Exam All India Sainik Schools Entrance Exam 2024
            </label>
          </div>
          <div class="form-check border mt-3 py-2 d-flex  align-items-center">
            <input class="form-check-input m-1" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label " for="flexCheckDefault">
              Rashtriya Military Schools RMS Entrance Exam Eligibility | syllabus | admission | process |  preparation
            </label>
          </div>
          <button type="submit" class="btn sec-bg-color text-white w-100 mt-3 button-bg-hover">Submit</button>
        </form>
      </div>
    </div>
  </div>