<div class="mt-4">
    <h4>Rajasthan</h4>
    <div class="d-flex flex-wrap">
        <a href="/sainik-school-coaching-jaipur.html">

            <button   class="mx-2 button">Jaipur</button>
        </a>
        <a href="/sainik-school-coaching-ajmer.html">

            <button   class="mx-2 button">Ajmer</button>
        </a>
        <a href="/sainik-school-coaching-jodhpur.html">

            <button  class="mx-2 button">Jodhpur</button>
        </a>
        <a href="/sainik-school-coaching-bikaner.html">

            <button  class="mx-2 button">Bikaner</button>
        </a>
        <a href="/sainik-school-coaching-bharatpur.html">

            <button  class="mx-2 button">Bharatpur</button>
        </a>
        <a href="/sainik-school-coaching-jodhpur.html">

            <button  class="mx-2 button">Jodhpur</button>
        </a>
        <a href="/sainik-school-coaching-udaipur.html">

            <button  class="mx-2 button" >Udaipur</button>
        </a>
        <a href="/sainik-school-coaching-sikar.html">

            <button  class="mx-2 button" >Sikar</button>
        </a>
    </div>
</div>